html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="Description", content="A web application to provide a covid-19 impact estimator")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" ,crossorigin="anonymous")
        link(rel="stylesheet", href="/static/styles/index.css")
        title Covid-19 Estimator | Estimation Results
    body
        .container_fluid
            nav.navbar.navbar-light#header
                a.navbar-brand(href='/')
                    img.d-inline-block.align-top(src="/static/images/logo.png", alt="Covid-19 Estimator Logo", height="60", title="Covid-19 Estimator Logo")
            .row.no-gutters
                - let {data, impact, severeImpact} = estimate;
                - let {region:{name, avgAge, avgDailyIncomeInUSD, avgDailyIncomePopulation},periodType, timeToElapse, reportedCases, population, totalHospitalBeds} = data;
                    .col-sm
                        table.table.table-hover(title="The user input data")
                            thead.thead-dark: tr: th(colspan="2") User input data
                            tbody
                                tr
                                    td Region Name :
                                    td= name
                                tr
                                    td Average Age :
                                    td= avgAge
                                tr
                                    td Average Daily Income (USD) :
                                    td= avgDailyIncomeInUSD
                                tr
                                    td Average Daily Income Population :
                                    td=avgDailyIncomePopulation
                                tr
                                    td Period Type :
                                    td=periodType
                                tr
                                    td Time to lapse :
                                    td=timeToElapse
                                tr
                                    td Population :
                                    td=population
                                tr
                                    td Total Hospital Beds :
                                    td=totalHospitalBeds
                    .col-sm
                        - let {dollarsInFlight, casesForVentilatorsByRequestedTime,casesForICUByRequestedTime,hospitalBedsByRequestedTime,severeCasesByRequestedTime,infectionsByRequestedTime,currentlyInfected} = impact;
                            table.table.table-hover(title="The user input data")
                                thead.thead-dark: tr: th(colspan="2") Low Impact Estimation
                                tbody
                                    tr
                                        td Currently Infected :
                                        td=currentlyInfected
                                    tr
                                        td Infections By Requested Time :
                                        td=infectionsByRequestedTime
                                    tr
                                        td Severe Cases By Requested Time :
                                        td=severeCasesByRequestedTime
                                    tr
                                        td Hospital Beds By Requested Time :
                                        td=hospitalBedsByRequestedTime
                                    tr
                                        td Cases for ICU :
                                        td=casesForICUByRequestedTime
                                    tr
                                        td Cases for Ventilators :
                                        td=casesForVentilatorsByRequestedTime
                                    tr
                                        td Dollars in flight :
                                        td=dollarsInFlight
                    .col-sm
                        - let {dollarsInFlight:dollars, casesForVentilatorsByRequestedTime:vents,casesForICUByRequestedTime:ICU,hospitalBedsByRequestedTime:beds,severeCasesByRequestedTime:severe,infectionsByRequestedTime:infections,currentlyInfected:current} = severeImpact;
                            table.table.table-hover(title="The user input data")
                                thead.thead-dark: tr: th(colspan="2") Severe Impact Estimation
                                tbody
                                    tr
                                        td Currently Infected :
                                        td=current
                                    tr
                                        td Infections By Requested Time :
                                        td=infections
                                    tr
                                        td Severe Cases By Requested Time :
                                        td=severe
                                    tr
                                        td Hospital Beds By Requested Time :
                                        td=beds
                                    tr
                                        td Cases for ICU :
                                        td=ICU
                                    tr
                                        td Cases for Ventilators :
                                        td=vents
                                    tr
                                        td Dollars in flight :
                                        td=dollars                   
            img.img-fluid#sdg_logo(src="/static/images/SDGs.png", alt="SDG Wheel Print", title="SDG Wheel print")
